body {
  background-color: #F5F5F5;
  font-family: "Helvetica Neue", sans-serif;
  color: #001F3F;
  line-height: 1.6;
}

h1, h2, h3 {
  color: #005AC1;
}

a {
  color: #005AC1;         /* Sonic Blue */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #1CA9F4;         /* Lighter hover blue */
  text-decoration: underline;
}

nav a {
  color: #FFD700;         /* Optional: gold nav links */
}
